@use 'vars' as v;

body {
    min-height: 100vh;
    margin: 0;
    font-family: v.$font-family-primary;
    font-size: v.$font-size-sm;
    font-weight: v.$font-weight-medium;
    line-height: v.$line-height-default;
    // background-color: v.$color-background;
    background-color: var(--color-background);
    // color: v.$color-text-body;
    color: var(--color-text-body);
    letter-spacing: 0;
    scroll-behavior: smooth;
}

a {
    color: inherit;
}

button {
    color: inherit;
    cursor: pointer;
}

::selection {
    // background-color: v.$color-primary;
    background-color: var(--color-primary);
    // color: v.$color-background;
    color: var(--color-background);
}
