<section
    class="technologies"
    id="technologies"
    tabindex="-1"
>
    <h2 class="technologies__title">{{ 'technologies.title' | translate }}</h2>
    @if (loading()) {
        <app-loading></app-loading>
    } @else if (error(); as errorMessage) {
        <app-error-message [message]="errorMessage"></app-error-message>
    } @else {
        <div class="technologies__content">
            @for (technology of technologies(); track technology._id) {
                <div class="technologies__group">
                    <h3 class="technologies__category">{{ technology.category }}</h3>
                    <ul class="technologies__list">
                        @for (item of technology.items; track $index) {
                            <li class="technologies__item">
                                {{ item }}
                            </li>
                        }
                    </ul>
                </div>
            } @empty {
                <span class="technologies__empty">{{ 'technologies.empty' | translate }}</span>
            }
        </div>
    }
</section>
