<div class="navigation">
    <div class="navigation__trigger">
        <button
            #menuTrigger
            class="navigation__hamburger"
            type="button"
            [attr.aria-expanded]="isOpen()"
            aria-controls="navigation-menu"
            [attr.aria-label]="(isOpen() ? 'navigation.closeMenu' : 'navigation.openMenu') | translate"
            (click)="toggleMenu()"
        >
            <fa-icon
                class="navigation__icon"
                [icon]="isOpen() ? faXmark : faBars"
                aria-hidden="true"
            ></fa-icon>
        </button>
    </div>
    @if (isOpen()) {
        <nav
            class="navigation__menu"
            id="navigation-menu"
            [attr.aria-label]="'navigation.navigation' | translate"
        >
            @for (item of menuItems; track item.fragment) {
                <a
                    class="navigation__item"
                    [href]="'#' + item.fragment"
                    (click)="selectMenuItem(item.fragment)"
                >
                    {{ item.label | translate }}
                </a>
            }
        </nav>
    }
    @if (showScrollTop()) {
        <button
            class="navigation__scroll-top"
            type="button"
            [attr.aria-label]="'navigation.scrollTop' | translate"
            (click)="scrollToTop()"
        >
            <fa-icon
                [icon]="faArrowUp"
                aria-hidden="true"
            ></fa-icon>
        </button>
    }
</div>
