<section class="experience" id="experience" tabindex="-1">
    <h2 class="experience__title">{{ 'experience.title' | translate}}</h2>
    @if (loading()) {
        <app-loading></app-loading>
    } @else if (error(); as errorMessage) {
        <app-error-message [message]="errorMessage"></app-error-message>
    } @else {
        <div class="experience__content">
            @for (experience of experiences(); track experience._id) {
                <article class="experience__article">
                    <div class="experience__header">
                        <h3 class="experience__position">{{ experience.position }}</h3>
                        <span class="experience__company">{{ experience.company }}</span>
                        <span class="experience__date">
                            {{ experience.startDate | date:'MMM yyyy' : 'UTC' : locale() }}
                            @if (experience.current) {
                                - {{ 'experience.current' | translate}}
                            } @else {
                                - {{ experience.endDate | date:'MMM yyyy' : 'UTC' : locale() }}
                            }
                        </span>
                    </div>
                    <div class="experience__responsibilities">
                        <h4 class="experience__responsibility">{{ 'experience.responsibilities' | translate}}</h4>
                        <ul class="experience__list">
                            @for (responsibility of experience.responsibilities; track $index) {
                                <li class="experience__item">
                                    {{ responsibility }}
                                </li>
                            }
                        </ul>
                    </div>
                </article>
            } @empty {
                <span class="experience__empty">{{ 'experience.empty' | translate}}</span>
            }
        </div>
    }
</section>