<section
    class="projects"
    id="projects"
    tabindex="-1"
>
    <h2 class="projects__title">{{ 'projects.title' | translate }}</h2>

    @if (loading()) {
        <app-loading></app-loading>
    } @else if (error(); as errorMessage) {
        <app-error-message [message]="errorMessage"></app-error-message>
    } @else {
        <div class="projects__content">
            @for (project of projects(); track project._id) {
                <article class="projects__article">
                    <div class="projects__header">
                        <h3 class="projects__name">
                            {{ project.name }}
                        </h3>

                        @if (project.description) {
                            <p class="projects__description">
                                {{ project.description }}
                            </p>
                        }

                        @if (project.url) {
                            <a
                                class="projects__link"
                                [href]="project.url"
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                {{ 'projects.link' | translate }}
                                <span class="sr-only">
                                    {{ 'accessibility.opensNewTab' | translate }}
                                </span>
                            </a>
                        }
                    </div>

                    <div class="projects__technologies">
                        <h4 class="projects__label">{{
                            'projects.technologies' | translate
                        }}</h4>

                        <ul class="projects__list">
                            @for (technology of project.technologies; track $index) {
                                <li class="projects__item">
                                    {{ technology }}
                                </li>
                            }
                        </ul>
                    </div>

                    <div class="projects__contributions">
                        <h4 class="projects__label">{{
                            'projects.contributions' | translate
                        }}</h4>

                        <ul class="projects__contribution-list">
                            @for (contribution of project.contributions; track $index) {
                                <li class="projects__contribution-item">
                                    {{ contribution }}
                                </li>
                            }
                        </ul>
                    </div>

                    @if (project.repository || project.relatedExperience) {
                        <div class="projects__additional-info">
                            @if (project.repository) {
                                <a
                                    class="projects__repository-link"
                                    [href]="project.repository"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                >
                                    {{ 'projects.repository' | translate }}
                                    <span class="sr-only">
                                        {{ 'accessibility.opensNewTab' | translate }}
                                    </span>
                                </a>
                            }

                            @if (project.relatedExperience) {
                                <p class="projects__related-experience">
                                    <span class="projects__related-experience-label">
                                        {{ 'projects.experience' | translate }}:
                                    </span>
                                    <span class="projects__related-experience-value">
                                        {{ project.relatedExperience }}
                                    </span>
                                </p>
                            }
                        </div>
                    }
                </article>
            } @empty {
                <p class="projects__empty">{{ 'projects.empty' | translate }}</p>
            }
        </div>
    }
</section>
