<section
    class="professional-profile"
    id="professional-profile"
    tabindex="-1"
>
    <h2 class="professional-profile__title">{{ 'professionalProfile.title' | translate }}</h2>
    @if (loading()) {
        <app-loading></app-loading>
    } @else if (error(); as errorMessage) {
        <app-error-message [message]="errorMessage"></app-error-message>
    } @else if (professionalProfile(); as professionalProfileData) {
        <div class="professional-profile__description">
            @for (paragraph of professionalProfileData.paragraphs; track $index) {
                <div class="professional-profile__paragraph">
                    <p>{{ paragraph }}</p>
                </div>
            }
        </div>
    }
</section>
