<section class="education">
    <h3 class="education__title">Formación</h3>
    @if (loading()) {
        <app-loading></app-loading>
    } @else if (error(); as errorMessage) {
        <app-error-message [message]="errorMessage"></app-error-message>
    } @else {
        <div class="education__content">
            @for (education of educations(); track education._id) {
                <article class="education__article">
                    <div class="education__item">
                        <h4 class="education__name">
                            {{ education.title }}
                        </h4>
                        <span class="education__institution">
                            {{ education.institution }}
                        </span>
                        <span class="education__date">
                            {{ education.startDate | date:'MMM yyyy' : undefined : 'es-CO' }}

                            @if (education.endDate) {
                                - {{ education.endDate | date:'MMM yyyy' : undefined : 'es-CO' }}
                            }
                        </span>
                    </div>

                    @if (education.technologies.length > 0) {
                        <div class="education__technologies">
                            <span class="education__label">Tecnologías</span>
                            <ul class="education__technology-list">
                                @for (technology of education.technologies; track $index) {
                                    <li class="education__technology-item">
                                        <span class="education__technology-text">
                                            {{ technology }}
                                        </span>

                                        @if (!$last) {
                                            <span class="education__separator" aria-hidden="true">
                                                •
                                            </span>
                                        }
                                    </li>
                                }
                            </ul>
                        </div>
                    }

                    @if (education.contributions.length > 0) {
                        <div class="education__contributions">
                            <span class="education__label">Contribuciones</span>
                            <ul class="education__contribution-list">
                                @for (contribution of education.contributions; track $index) {
                                    <li class="education__contribution-item">
                                        <span class="education__bullet" aria-hidden="true">
                                            •
                                        </span>
                                        <span class="education__contribution-text">
                                            {{ contribution }}
                                        </span>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                </article>
            } @empty {
                <span class="education__empty"> No hay información educativa disponible. </span>
            }
        </div>
    }
</section>
