<section class="languages" id="languages" tabindex="-1">
    <h2 class="languages__title">{{ 'languages.title' | translate}}</h2>

    @if (loading()) {
        <app-loading></app-loading>
    } @else if (error(); as errorMessage) {
        <app-error-message [message]="errorMessage"></app-error-message>
    } @else {
        <div class="languages__content">
            @for (language of languages(); track language._id) {
                <div class="languages__item">
                    <div class="languages__info">
                        <span class="languages__name">
                            {{ language.language }}
                        </span>

                        <span class="languages__level">
                            {{ language.level }}
                        </span>
                    </div>

                    @if (language.description.length > 0) {
                        <ul class="languages__description-list">
                            @for (description of language.description; track $index) {
                                <li class="languages__description-item">
                                    {{ description }}
                                </li>
                            }
                        </ul>
                    }
                </div>
            } @empty {
                <span class="languages__empty">{{ 'languages.empty' | translate}}</span>
            }
        </div>
    }
</section>
